extends ../layouts/default

block content
  .row
    each category in categories
      .col-xs-4
        h3= category.name
        ul.list-unstyled
          each client in clients
            if client.category == category._id.toString()
              li= client.name

block sidebar
  .sidebar
    h2 Clients
    h3.breadcrumb
      a(href='/') Home
      span  - Clients
    !=page.sidebarContent
