extends ../layouts/default

block content
  .row.content
    each category in categories
      .col-xs-4
        h3= category.name
        ul.list-unstyled
          each client in clients
            if client.category == category._id.toString()
              li= client.name

block sidebar
  .sidebar
    h4 Clients
    .mja-breadcrumb
      a(href='/') Home
      em  - Clients
    .sidebar-content
      !=page.sidebarContent
