extends ../layouts/default

block content
  ul.list-unstyled.content
    each update in updates.slice(0,9)
      li
        if update.videoEmbed
          != update.videoEmbed
        else
          .bg-hidden-mobile(style='background-image: url("'+update._.image.fill(800, 600) + '");')
        a(href='updates/' + update.slug)
          h3= update.title
        p!= update.excerpt

block sidebar
  .scrollUp
    a(href='#')
  ul.list-unstyled.sidebar.clearfix
    each update in updates
      li
        a(href='updates/' + update.slug)
          .col-sm-6
            if update.image.url
              img(src= update._.image.fill(350, 350))
            else if update.videoThumbnail
              img(src= update.videoThumbnail)
          .col-sm-6
            i= update.type + ':'
            h4= update.title
  .scrollDown
    a(href='#')
