extends ../layouts/default

block content
  .project-categories.image-grid
    ul.list-unstyled.content
      each profilePage in profilePages
        li.col-sm-4
          - var src = profilePage.image.filename ? '/images/profilepages/thumb/' + profilePage.image.filename : 'http://placehold.it/250x250'
          a(href= '/profile/' + profilePage.slug, style='background-image: url('+src+')')
          a(href= '/profile/' + profilePage.slug)
            h4.capitalize= profilePage.name

block sidebar
  .sidebar
    h2 Profile
    .mja-breadcrumb
      a(href='/') Home
      em  - Profile
    .sidebar-content
      !=page.sidebarContent
