extends ../layouts/default

block content
  .content
    img(src= '/images/profilepages/large/' + profilePage.image.filename)

block sidebar
  .sidebar
    h2 Clients
    .mja-breadcrumb
      a(href='/') Home
      span= ' - '
      a(href='/profile') Profile
      em= ' - ' + profilePage.name
    .sidebar-content
      != profilePage.content
