extends ../layouts/default

block content
  .project-categories.image-grid
    ul.list-unstyled.content
      each profilePage in profilePages
        li.col-sm-4
          a(href= '/profile/' + profilePage.slug)
            - var src = profilePage.image.url ? profilePage._.image.fill(300, 300) : 'http://placehold.it/300x300'
            .grid-image(style='background-image: url("'+ src +'")')
            h4.capitalize= profilePage.name

block sidebar
  .sidebar
    h4 Profile
    .mja-breadcrumb
      a(href='/') Home
      em  - Profile
    .sidebar-content
      !=page.sidebarContent
