extends ../layouts/default

block content
  .project-categories
    ul.list-unstyled.content
      each profilePage in profilePages
        li: a(href= '/profile/' + profilePage.name.toLowerCase())
          img(src= '/images/profilepages/thumb/' + profilePage.image.filename)
          h4.capitalize= profilePage.name

block sidebar
  .sidebar
    h2 Profile
    .mja-breadcrumb
      a(href='/') Home
      em  - Profile
    .sidebar-content
      !=page.sidebarContent
