extends ../layouts/default

block content
  .content
    img(src= profilePage._.image.fill(1200, 800))

block sidebar
  .sidebar
    h1= profilePage.name
    .mja-breadcrumb
      a(href='/') Home
      span= ' - '
      a(href='/profile') Profile
      em= ' - ' + profilePage.name
    .sidebar-content
      != profilePage.content
