extends ../layouts/default

block content
  .project-categories
    ul.list-unstyled.content
      each category in categories
        li
          a(href= '/projects/' + category.slug)
            if category.image.filename
              img(src= '/images/projectCategories/thumb/' + category.image.filename)
            else
              img(src='http://placehold.it/200x200')
            h4.capitalize= category.name

block sidebar
  .sidebar
    h2 Projects
    .mja-breadcrumb
      a(href='/') Home
      em  - Projects
    .sidebar-content
      !=page.sidebarContent
