extends ../layouts/default

block content
  .project-categories.image-grid
    ul.list-unstyled.content
      each category in categories
        li.col-sm-4
          - var src = category.image.url ? category._.image.fill(800, 600) : 'http://placehold.it/800x600'
          a(href= '/projects/' + category.slug)
            .grid-image(style='background-image: url("'+ src +'")')
            h4.capitalize= category.name

block sidebar
  .sidebar
    h4 Projects
    .mja-breadcrumb
      a(href='/') Home
      em  - Projects
    .sidebar-content
      !=page.sidebarContent
