extends ../layouts/default

block content
  .projects.image-grid
    ul.list-unstyled.content
      each project in projects
        li.col-sm-4
          - var src = project.images[0].filename ? '/images/projects/thumb/' + project.images[0].filename : 'http://placehold.it/250x250'
          a(href= '/projects/' + project.slug, style='background-image: url('+src+')')
          a(href= '/projects/' + project.slug)
            h4.capitalize= project.name

block sidebar
  .sidebar
    h2= category.name
    .mja-breadcrumb
      a(href='/') Home
      span= ' - '
      a(href='/projects') Projects
      em= ' - ' + category.name
    .sidebar-content
      != category.sidebarContent
