extends ../layouts/default

block content
  .project-categories.image-grid
    ul.list-unstyled.content
      each category in categories
        li.col-sm-4
          - var src = category.image.filename ? '/images/projectcategories/thumb/' + category.image.filename : 'http://placehold.it/250x250'
          a(href= '/projects/' + category.slug, style='background-image: url('+src+')')
          a(href= '/projects/' + category.slug)
            h4.capitalize= category.name

block sidebar
  .sidebar
    h2 Projects
    .mja-breadcrumb
      a(href='/') Home
      em  - Projects
    .sidebar-content
      !=page.sidebarContent
