extends ../layouts/default

block content
  .project-categories
    ul.list-unstyled.content
      each category in categories
        li: a(href= '/projects/' + category.slug)
          img(src= '/images/projectCategories/thumb/' + category.image.filename)
          h3= category.title

block sidebar
  if (page)
    .page-blurb
      h3= page.title
      p= page.blurb
