extends ../layouts/default

block content
  .projects.image-grid
    ul.list-unstyled.content
      each project in projects
        li.col-sm-4
          a(href= '/projects/'+category.slug+'/'+project.slug)
            .grid-image(style='background-image: url("'+ project.images[0].fill(300, 300) +'")')
            h4.capitalize= project.name
          

block sidebar
  .sidebar
    h4= category.name
    .mja-breadcrumb
      a(href='/') Home
      span= ' - '
      a(href='/projects') Projects
      em= ' - ' + category.name
    .sidebar-content
      != category.sidebarContent
