lib-cov
*.seed
*.log
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

.DS_Store

public/images/homepageupdates
public/images/projectcategories
public/images/projects

config/production.json
config/development.json

public/styles/site.min.css
