include ../mixins/flash-messages

doctype html
html

  //- HTML HEADER
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")

    title= title || 'Murray John Architects'
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

    //- Customise the stylesheet for your site by editing /public/styles/site.less
    //- All .less files will be automatically compiled and minified in production.

    link(href="/styles/site.min.css", rel="stylesheet")

    //- This file provides the default styling for the KeystoneJS Content Editor
    if user && user.canAccessKeystone
      link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

    //- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    //- Safely remove this block if you are not targeting IE8
    //-[if lt IE 9]
      script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
      script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")
    //-[endif]

    //- Include template-specific stylesheets by extending the css block
    block css

    //- Add any other template-specific HEAD tags by extending the head block
    block head

  //- HTML BODY
  body.container-fluid(class=bodyClass)

    .frame-top
    .frame-bottom

    .col-sm-4.col-left

      //- HEADER
      header

        //- Customise your site's navigation by changing the navLinks Array in ./routes/middleware.js
        //- ... or completely change this header to suit your design.

        a.brand.col-sm-12.col-xs-9(href='/') Murray John Architects

        div(role="navigation").navbar.navbar-default.pull-right.col-xs-3.hidden-sm.hidden-md.hidden-lg
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
        .navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-left
            each link in navLinks
              li: a(href=link.href)= link.label

      block sidebar

      //- FOOTER
      footer
        small.copyright &copy; Murray John Architects 2014 - 
          a(href='/contact') Contact

    .col-sm-8.col-right.col-sm-offset-4

      //- HEADER
      header.hidden-xs

        //- Customise your site's navigation by changing the navLinks Array in ./routes/middleware.js
        //- ... or completely change this header to suit your design.

        div(role="navigation").navbar.navbar-default
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
          .collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-left
              each link in navLinks
                li: a(href=link.href)= link.label

      //- The content block should contain the body of your template's content
      block content

    //- JAVASCRIPT

    //- jQuery 1.11.0 is included by default, and required by both Bootstrap
    //- and the KeystoneJS Content Editor. If you are not targeting IE8,
    //- you can upgrade to 2.1.0 (also bundled) for better performance.
    script(src='/js/lib/jquery/jquery-1.11.0.min.js')

    //- Customise which Bootstrap javascript files are served by including
    //- them specifically here, instead of bootstrap-3.1.0.min.js
    script(src='/js/lib/bootstrap/bootstrap-3.1.0.min.js')

    //- Include our scripts
    script(src='/js/scripts.js')

    //- The KeystoneJS Content Editor provides support for ks-editable data attributes,
    //- which generate links to edit content for users who can access Keystone
    if user && user.canAccessKeystone
      script(src='/keystone/js/content/editor.js')

    //- Add scripts that are globally required by your site here.

    //- Include template-specific javascript files by extending the js block
    block js
