// Bootstrap
// =========

// You can include less bootstrap components if you like by
// importing the .less files you want directly, instead of
// the main bootstrap/bootstrap.less file.
//
// Bootstrap can be removed entirely by deleting this line.

@import "bootstrap/bootstrap.less";

// The easiest way to customise Bootstrap variables while
// being able to easily override the source files with new
// versions is to override the ones you want in another file.
//
// You can also add your own custom variables to this file for
// use in your site stylesheets.

@import "site/variables.less";


// Site Styles
// ===========

// Add your own site style includes here
@import "site/layout.less";

/*
* Site wide
*/
body {
  position: relative;
  font-weight: 200;
}

#splash {
  position:absolute;
  width:100%;
  height:100%;
  padding:0;
  margin:-30px;
  background:#EEE;
  z-index: 9000;
  
  .galleria {
    width: 100%;
    height: 680px;
    transition: opacity 1s linear;
  }
}

#splash.splash-end {

  background: #fff url(../images/mja-logo.png) no-repeat center;
  background-size: 50% auto;

  .galleria {
    opacity: 0.1;
  }
}

.brand {
  display: block;
  height: 57px;
  text-align: left;
  text-indent: -9999px;
  background: url(../images/mja-logo.png) no-repeat;
  background-size: 100% auto;
}
.brand:focus {
  outline:none;
}
a, span, strong, p, h1, h2, h3, h4, h5 {
  font-size: 14px;
  color: #666;
}
a {
  color: #666 !important;
}
a:hover {
  color: black;
}
header {
  min-height: 80px;
  position: relative;
}
.col-left {
  position: relative;
}
.mja-breadcrumb, .mja-breadcrumb a {
  margin-bottom: 40px;
  font-size: 12px;
}

.navbar-nav > li {
  margin-top: -4px;
}

.navbar-nav > li > a {
  padding-top: 0;
}
a:focus,
.navbar-nav > li > a:focus {
  outline:none;
  text-decoration: underline;
}

.sidebar-content {
  padding-right: 10px;
  p {
    font-size: 12px;
    a {
      font-size: 12px;
    }
  }
}

.navbar {
  background: none;
  border: none;
}

.content img {
  max-width: 100%;
}

.content .col-sm-4 {
  padding-left: 0;
  padding-right: 30px;
}

.image-grid ul li {
  padding: 0 30px 10px 0;
}

.image-grid ul li .grid-image {
  display: block;
  height: 115px;
  overflow: hidden;
  background-position: center center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.bg-hidden-mobile {
  height: 350px;
  background-size: 100% auto;
  background-color: #EEE;
  background-repeat: no-repeat;
  background-position: left;
}

footer {
  position: absolute;
  left: 30px;
  bottom: 10px;
  text-align: left;
  color: #DDD;

  a {
    font-size: inherit;
    color: #DDD !important;
    &:hover {
      color: black !important;
    }
  }
}

a {
  h1, h2, h3, h4, h5 {
    color: #666;
    font-weight: 200;
  }
}

a:hover {
  color: black;
  text-decoration: none;
  h1, h2, h3, h4, h5, * {
    color: black;
  }
}

#mobile-sniffer {
  visibility: hidden;
  width: 0;
  height: 0;
  display: none;
}

/*
* Home
*/

.scrollUp, .scrollDown {
  display: block;
  height: 25px;
  text-align: right;
  a {
    display: inline-block;
    margin: 0 15px;
    vertical-align: top;
  }
}

.scrollUp a {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #777;
}

.scrollDown a {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #777;
  margin-bottom: 0;
}

.sidebar {
  & > h4 {
    margin-top: 0;
  }
  li {
    height: 100px;
    margin-bottom: 30px;
    overflow: hidden;

    a .col-sm-6:nth-child(2), a .col-xs-6:first-child {
      padding-left: 0;
    }
  }
  
  img {
    max-width: 100%;
  }
}

.home .content li {
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.home .content iframe, .homepageupdate .content iframe {
  width: 100%;
}
span[style] {
  font-family: inherit !important;
  line-height: inherit !important;
  text-align: inherit !important;
  font-size: inherit !important;
}
.homepageupdate .content h3 {
  color: #666;
  font-weight: 200;
}

/*
* Project gallery
*/
.project .col-right {
  height: 100%;
  min-height: 100%;
  .project {
    width: 100%;
    height: 100%;
    min-height: 600px;
    .galleria {
      max-width: 580px;
      height: 80%;
      min-height: 480px;
    }
  }
}

/*
* Clients
*/

.clients .content h4 {
  margin-top: 0;
  height: 80px;
}

/*
* About
*/

.about .bio {
  height: 400px;
}

.about .bio-pic {
  height: 360px;
  margin-bottom: 50px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 50%;
}

/*
* Affiliations
*/

.affiliations {
  .affil.row {
    margin-bottom: 30px;
    h4 {
      margin-top: 0;
    }
  }
}

/*
* Contact
*/
.contact .col-right .content > a {
  line-height: 30px;
}

/*
* Typography
*/

a {
  color: @text-color;
}

.capitalize::first-letter {
  text-transform:uppercase;
}

@media all and (min-width: 768px) {
  html {
    background-color: #EEE;
    height: 100%;
    overflow: hidden;
  }
  body.container-fluid {
    top: 50%;
    margin-top: -340px;
    left: 50%;
    margin-left: -480px;
    position: absolute;
    width: 960px;
    height: 680px;
    background: white;
    overflow: hidden;
    padding: 30px 0 30px 30px;
  }
  body::before {
    content: '';
    width: 0;
    height: 620px;
    top: 30px;
    left: 330px;
    position: absolute;
    display: block;
    border-right: 2px solid rgb(181,0,0);
    right: 0;
  }
  .navbar-default {
    position: absolute;
    left: 320px;
    width: 500px;
  }
  .col-left {
    height: 620px;
  }
  ul.sidebar {
    width: 100%;
    height: 520px;
    overflow: hidden;
  }
  .col-right {
    position: static;
    padding-right: 0;
    min-height: 100%;
  }
  .col-right {
    padding-left: 30px;
  }
  .col-right .content {
    width: 595px;
    height: 540px;
  }
  .about .col-right .content {
    width: 580px;
    height: auto;
    margin-top: 82px;
    padding-left: 35px;
  }
  .about .scroll-all {
    height: 550px;
    width: 944px;
  }
  .col-right .navbar-collapse {
    padding-left: 0;
  }
  .navbar-nav>li:first-child a {
    padding-left: 0;
  }
  .brand {
    width: 270px;
  }
  .home .col-left, .homepageupdate .col-left {
    margin-top: -25px;
  }
  .home .sidebar .col-sm-6 {
    float: right;
  }
  .home .content img, .homepageupdate .content img {
    min-height: 400px;
  }
  .home .content iframe, .homepageupdate .content iframe {
    height: 350px;
  }
  .image-grid ul li .grid-image {
    width: 115px;

    margin: 0;
  }
  .image-grid h4 {
    width: 120px;
    margin: 10px 0 0;
    height: 65px;
    position: relative;
    overflow: hidden;
  }
  .image-grid h4 .fade-bottom {
    position: absolute; 
    bottom: 0; left: 0;
    width: 100%; 
    text-align: center; 
    margin: 0;
    padding: 8px 0; 
    /* "transparent" only works here because == rgba(0,0,0,0) */ 
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  }
  .col-right .content:not(.jspScrollable) .jspContainer {
    width: 570px !important;
  }
  .clients .content .col-sm-4 {
    padding-left: 15px;
    h4 {
      margin: 0;
    }
  }
  .contact #gmap_canvas {
    width: 565px !important;
  }
  .project .col-right .project {
    margin-left: -10px;
  }
}
@media all and (max-width: 767px) {
  #splash {
    display: none;
  }
  .container-fluid {
    padding: 0;
  }
  button.navbar-toggle {
    margin-right: 0;
    margin-top: 7px;
  }
  footer {
    position: static;
    text-align: center;
    margin: 10px auto;
  }
  header {
    padding: 15px;
  }
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  .brand {
    z-index: 1;
    height: 40px;
    display: inline-block;
    margin: 7px 0;
  }
  .visible-xs-inline-block {
    display: inline-block;
  }
  .navbar-header::before {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
  }
  .navbar-toggle {
    display: inline-block;
    vertical-align: middle;
  }
  .home {
    .content {
      display: none;
    }
    .scrollUp, .scrollDown {
      display: none;
    }
    .col-sm-6 {
      padding-left: 0;
      padding-right: 0;
    }
    .sidebar {
      overflow: visible;
      i {
        margin-top: 5px;
        display: inline-block;
      }
      li {
        width: 100%;
        height: auto;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .homepageupdate {
    .scrollUp, .scrollDown, .sidebar {
      display: none;
    }
  }

  .navbar {
    min-height: 57px;
    padding-right: 0;
    margin-bottom: 0;
  }
  .navbar-default .navbar-collapse {
    border: none;
    border-right: 1px solid black;
  }
  .navbar-collapse {
    clear: both;
    text-align: right;
    padding-right: 0;
    margin-bottom: 15px;
  }

  .navbar-nav {
    margin: 0;
  }

  .navbar-nav > li {
    margin-top: 0;
    > a {
      padding-top: 10px;
    }
  }

  .col-left, .col-right {
    position: initial;
    border: none;
  }

  .col-left header {
    margin-bottom: 20px;
  }

  .col-right .content {
    margin-left: 0;
  }

  .content .col-sm-4 {
    padding-right: 0;
  }

  .image-grid ul li {
    padding: 0;
  }

  .image-grid ul li .grid-image {
    background-size: 100% auto;
    min-height: 260px;
  }

  .clients .content .col-sm-4 {
    padding: 0;
  }

  .clients .content h4 {
    height: auto;
    margin: 25px 0 15px;
  }

  .about .sidebar-content {
    display: none;
  }

  .about .bio {
    height: auto;
    margin: 40px 0;
  }

  .about .col-right .content {
    margin: 0;
  }
  #mobile-sniffer {
    display: block;
  }
}
@media all and (max-width: 500px) {
  button.navbar-toggle {
    margin-top: 0;
  }
}
