// Bootstrap
// =========

// You can include less bootstrap components if you like by
// importing the .less files you want directly, instead of
// the main bootstrap/bootstrap.less file.
//
// Bootstrap can be removed entirely by deleting this line.

@import "bootstrap/bootstrap.less";

// The easiest way to customise Bootstrap variables while
// being able to easily override the source files with new
// versions is to override the ones you want in another file.
//
// You can also add your own custom variables to this file for
// use in your site stylesheets.

@import "site/variables.less";


// Site Styles
// ===========

// Add your own site style includes here
@import "site/layout.less";

/*
* Site wide
*/
body {
  position: relative;
  font-weight: 200;
}

.brand {
  display: block;
  height: 57px;
  text-align: left;
  text-indent: -9999px;
  background: url(../images/mja-logo.png) no-repeat;
  background-size: 100% auto;
}

.col-left {
  overflow: hidden;
  header {
    min-height: 57px;
  }
  ul {
    width: 100%;
    height: 410px;
    overflow: hidden;
  }
}

.col-left {
  border-right: 2px solid rgb(181,0,0);
}

.mja-breadcrumb {
  margin-bottom: 40px;
}

.navbar-nav > li {
  margin-top: -4px;
}

.navbar-nav > li > a {
  padding-top: 0;
}

.sidebar-content {
  padding-right: 10px;
}

.navbar {
  background: none;
  border: none;
}

.content img {
  max-width: 100%;
}

.content .col-sm-4 {
  padding-left: 0;
  padding-right: 30px;
}

.image-grid ul li {
  padding: 0 30px 30px 0;
}

.image-grid ul li .grid-image {
  display: block;
  height: 180px;
  overflow: hidden;
  background-position: center center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.image-grid h4 {
  max-height: 19px;
}

.bg-hidden-mobile {
  height: 600px;
  background-size: auto 100%;
  background-color: #EEE;
  background-repeat: no-repeat;
  background-position: left;
}

footer {
  position: absolute;
  left: 30px;
  bottom: 10px;
  text-align: left;
  color: #DDD;

  a {
    color: #DDD;    
  }
}

a {
  h1, h2, h3, h4, h5 {
    color: #777;
    font-weight: 200;
  }
}

a:hover {
  text-decoration: none;
  h1, h2, h3, h4, h5 {
    color: black;
  }
}

/*
* Home
*/

a.scrollUp, a.scrollDown {
  display: block;
  float: right;
  width: 0;
  height: 0;
  margin: 15px;
}

a.scrollUp {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #777;
}

a.scrollDown {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #777;
  margin-bottom: 0;
}

.sidebar {
  li {
    height: 100px;
    margin-bottom: 30px;
    overflow: hidden;

    a .col-sm-6:nth-child(2), a .col-xs-6:first-child {
      padding-left: 0;
    }
  }
  
  img {
    max-width: 100%;
  }
}

.home .content li {
  padding-bottom: 20px;
  margin-bottom: 20px;
}

/*
* Project gallery
*/
.gallery .col-right {
  height: 100%;
  min-height: 100%;
  .project {
    width: 100%;
    height: 100%;
    min-height: 600px;
    .galleria {
      width: 100%;
      height: 80%;
      min-height: 480px;
    }
  }
}

/*
* Clients
*/

.clients .content h3 {
  margin-top: 0;
  height: 90px;
}

/*
* About
*/

.about .col-left {
  position: relative;
}

.about .col-right .content {
  margin-left: 30px;
  margin-top: 105px;
}

.about .bio {
  height: 400px;
}

.about .bio-pic {
  height: 360px;
  margin-bottom: 50px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 50%;
}

/*
* Contact
*/

.contact .col-left header {
  height: 30px;
}

.contact .content {
  margin-top: 50px;
}

/*
* Typography
*/

a {
  color: @text-color;
}

.capitalize::first-letter {
  text-transform:uppercase;
}

@media all and (min-width: 768px) {
  html {
    background-color: #EEE;
    height: 100%;
    overflow: hidden;
  }
  body.container-fluid {
    top: 50%;
    margin-top: -300px;
    left: 50%;
    margin-left: -480px;
    position: absolute;
    width: 960px;
    height: 600px;
    background: white;
    overflow: hidden;
    padding: 30px 0 30px 15px;
  }
  .gallery .col-left, .about .col-left {
    top: 20px;
  }
  .col-right {
    position: static;
    padding-right: 0;
    min-height: 100%;
  }
  .col-right {
    padding-left: 30px;
  }
  .col-right .content {
    overflow-y: scroll;
    height: 470px;
  }
  .col-right .navbar-collapse {
    padding-left: 0;
  }
  .navbar-nav>li:first-child a {
    padding-left: 0;
  }
  .col-left .navbar-collapse {
    display: none !important;
  }
  .brand {
    width: 95%;
  }
  .home .sidebar .col-sm-6 {
    float: right;
  }
  .home .content img, .homepageupdate .content img {
    min-height: 400px;
  }
  .image-grid ul li .grid-image {
    max-width: 240px;
    margin: 0 auto;
  }
  .image-grid h4 {
    max-width: 240px;
    margin: 10px auto;
  }

  /*
  * Project gallery
  */
  .gallery .col-left {
    position: relative;
    min-height: 650px;
  }
}
@media all and (max-width: 767px) {
  .container-fluid {
    padding: 0;
  }
  button.navbar-toggle {
    margin-right: 0;
    margin-top: 0;
  }
  footer {
    position: static;
    text-align: center;
  }
  .brand {
    display: inline-block;
    margin: 7px 0;
  }

  .visible-xs-inline-block {
    display: inline-block;
  }

  .home {
    .content {
      display: none;
    }
    .scrollUp, .scrollDown {
      display: none;
    }
    .col-sm-6 {
      padding-left: 0;
      padding-right: 0;
    }
    .sidebar {
      overflow: visible;
      font-size: 16px;
      i {
        margin-top: 5px;
        display: inline-block;
      }
      h4 {
        font-size: 22px;
      }
      li {
        width: 100%;
        height: auto;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .homepageupdate {
    .scrollUp, .scrollDown, .sidebar {
      display: none;
    }
  }

  .navbar {
    min-height: 57px;
    padding-right: 0;
  }

  .navbar-collapse {
    clear: both;
    text-align: right;
    padding-right: 0;
    margin-bottom: 15px;
    border-right: 1px solid black;
  }

  .navbar-nav {
    margin: 0;
  }

  .navbar-nav > li {
    margin-top: 0;
    > a {
      padding-top: 10px;
    }
  }

  .col-left, .col-right {
    position: initial;
    border: none;
  }

  .col-left header {
    margin-bottom: 20px;
  }

  .col-right .content {
    margin-left: 0;
  }

  .content .col-sm-4 {
    padding-right: 0;
  }

  .image-grid ul li {
    padding: 0;
  }

  .image-grid ul li .grid-image {
    background-size: 100% auto;
  }

  .clients .content .col-sm-4 {
    padding: 0;
  }

  .clients .content h3 {
    height: auto;
    margin: 25px 0 15px;
  }

  .about .sidebar-content {
    display: none;
  }

  .about .bio {
    height: auto;
    margin: 40px 0;
  }

  .about .col-right .content {
    margin: 0;
  }
}
