// Bootstrap
// =========

// You can include less bootstrap components if you like by
// importing the .less files you want directly, instead of
// the main bootstrap/bootstrap.less file.
//
// Bootstrap can be removed entirely by deleting this line.

@import "bootstrap/bootstrap.less";

// The easiest way to customise Bootstrap variables while
// being able to easily override the source files with new
// versions is to override the ones you want in another file.
//
// You can also add your own custom variables to this file for
// use in your site stylesheets.

@import "site/variables.less";


// Site Styles
// ===========

// Add your own site style includes here
@import "site/layout.less";

/*
* Site wide
*/
body {
  margin: 20px auto;
  width: 100%;
  height: 100%;
}

.brand {
  display: block;
  width: 100%;
  height: 30px;
  text-align: left;
  text-indent: -9999px;
  background: url(../images/mja-logo.png) no-repeat;
  background-size: 100% auto;
}

.col-left {
  overflow: hidden;
  position: fixed;
  height: 100%;
  border-right: 2px solid rgb(181,0,0);
  header {
    margin-bottom: 40px;
  }
  ul {
    width: 100%;
    height: 70%;
    overflow: hidden;
  }
}

.navbar-nav > li > a {
  padding-top: 0;
}

.col-right .content {
  margin-left: 15px;
}

.navbar {
  background: none;
  border: none;
}

.content img {
  max-width: 100%;
}

.sidebar-content {
  margin-top: 40px;
}

.image-grid ul li a:first-child {
  display: block;
  height: 240px;
  overflow: hidden;
  background-position: center center;
  background-size: auto 100%;
}

/*
* Home
*/
.home .col-left header {
  margin-bottom: 25px;
}

a.scrollUp, a.scrollDown {
  display: block;
  float: right;
  width: 45px;
  height: 30px;
  margin: 15px;
}

a.scrollUp {
  background: url('../images/arrow-up.png') no-repeat;
  background-size: 100% auto;
}

a.scrollDown {
  background: url('../images/arrow-down.png') no-repeat;
  background-size: 100% auto;
}

.sidebar {
  li {
    height: 100px;
    margin-bottom: 15px;
    overflow: hidden;
  }
  
  img {
    max-width: 100%;
  }
}

.home .content li {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  margin-top: 20px;
}

/*
* Project categories
*/

/*
* Project gallery
*/
.gallery {
  position: fixed;
  .col-left {
    position: relative;
  }
}

.gallery .col-right {
  height: 100%;
  .project {
    width: 100%;
    height: 100%;
    .galleria {
      width: 100%;
      height: 80%;
    }
  }
}

/*
* Clients
*/

.clients .content h3 {
  margin-top: 0;
  height: 90px;
}

/*
* Typography
*/

a {
  color: @text-color;
}

.capitalize::first-letter {
  text-transform:uppercase;
}
